# First version
pytelegrambotapi==4.0.1
# Second version
Flask==1.1.2
itsdangerous==2.0.1
# Third version
gspread==3.7.0
oauth2client==4.1.3
df2gspread==1.0.4
# for CI
pytest==6.2.5
# Fourth version
vedis==0.7.1
# Use Flask database
Flask-Migrate==2.6.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
psycopg2==2.8.5